.switch {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &_input {
    display: none;
  }

  &_input:checked + &_inner {
    background: #52d869;
  }

  &_input:checked + &_inner &_inner_thumb {
    transform: translateX(#{rem(15px)});
  }

  &_inner {
    width: rem(36px);
    height: rem(21px);
    padding: rem(2px);
    border-radius: rem(12px);
    background: rgba(0,0,0,.1);
    transition: background-color .3s cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &_thumb {
      width: rem(21px);
      height: rem(21px);
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-small {
      width: rem(31px);
      height: rem(16px);
    }

    &-small &_thumb {
      width: rem(16px);
      height: rem(16px);
    }
  }
}
