.browse {

  &_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(30px);

    &_item {
      display: flex;
      align-items: center;

      &_label {
        margin-right: rem(10px);
      }

      &_select {
        width: rem(220px);
      }
    }
  }

  &_items {
    @include flex(flex-start, wrap);
    margin: rem(30px) rem(-5px);
  }
}
