.avatar {
  position: relative;
  width: rem(35px);
  height: rem(35px);
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;

  &_link {
    @include position(absolute);
  }

  &_img {
    width: 100%;
    height: 100%;
  }
}
