$size-vw-design: 1536px;
$size-vw-fontsize: 300px;
$size-sidebar-width: 240px;
$size-header-height: 50px;
$size-gap-big: 30px;
$size-gap-midden: 20px;
$size-gap-small: 18px;
$size-border-radius: 4px;
$size-border-radius-large: 6px;
