.header {
  @include background-blur;
  @include flex(space-between);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem($size-header-height);
  padding: 0 rem($size-gap-midden);
  background: var(--color-header-background);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, .07);
  z-index: 10;

  &_search {
    display: flex;
    align-items: center;
    width: rem(350px);
    height: rem(36px);

    &_input, &_btn {
      height: 100%;
    }

    &_input {
      flex: 1;
      border-top-left-radius: rem(6px);
      border-bottom-left-radius: rem(6px);
    }

    &_btn {
      border-radius: 0;
      border-top-right-radius: rem(6px);
      border-bottom-right-radius: rem(6px);
      background: var(--color-background-input);
    }
  }

  &_actions {
    @include flex;

    &_login {
      margin: 0 rem(10px);
    }
  }

  .user-panel {
    position: relative;

    &__box {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__avatar {
      width: rem(35px);
      height: rem(35px);
      object-fit: cover;
      border-radius: rem(5px);
      margin: 0 rem(10px);
    }

    &__dropdown {
      position: absolute;
      right: 0;
      min-width: rem(160px);
      margin-top: rem(10px);
      background: var(--color-primary-dark);
      padding: rem(10px) 0;

      &__item {
        display: flex;
        align-items: center;
        padding: rem(10px);
        transition: all 0.2s;

        &__text {
          margin-left: rem(5px);
          margin-right: auto;
        }

        &:hover {
          background: var(--color-primary);
        }
      }
    }
  }

  &_add {
    margin-right: rem(10px);
  }

  &__toggle {
    width: rem(35px);
    height: rem(35px);
    line-height: rem(35px);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
  }
}
